*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img1{
    width: 100%;
    height: 60%;
}

#list li{
  display: inline;
  
}

#list{
  list-style: none;
    height: 800px;
    width: 1000px;
   margin: 0px auto ;
 /* background-color: blanchedalmond; */
    display: grid;
    grid-template-columns: repeat(3,20%);
    grid-template-rows: repeat(2,400px);
    grid-gap: 70px;
}

.card{width: 100%;
    margin:10px;
    /* background-color: blue; */
  } 

  .image{
    width: 220px;
    height: 340;
  }
  .image1{
    background: url(../img/Capture5.PNG) center no-repeat ;
    background-size: cover;
  }
  .image2{
    background: url(../img/8.PNG) center no-repeat ;
    background-size: cover;
  }
  .image3{
    background: url(../img/Capture.PNG) center no-repeat ;
    background-size: cover;
  }
  .image4{
    background: url(../img/Capture3.PNG) center no-repeat ;
    background-size: cover;
  }
  .image5{
    background: url(../img/Capture10.PNG) center no-repeat ;
    background-size: cover;
  }
  .image6{
    background: url(../img/Capture.PNG) center no-repeat ;
    background-size: cover;
  }
  .image7{
    background: url(../img/Capture9.PNG) center no-repeat ;
    background-size: cover;
  }
  .image8{
    background: url(../img/Capture4.PNG) center no-repeat ;
    background-size: cover;
  }

  #addtocard button{
    width: 202px;
    height: 35px;
    background-color: white;
    border: 1px solid black;
    outline: 18px solid white;
    font-size: 12PX;
    font-weight: 550;
    margin-top: 295PX;
    margin-left:10px ;
    transform: translateY(20px);
    opacity: 0;
    visibility: hidden;
   
  }

  .card:hover #addtocard button{
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
    transform: translateY(0px);
  }

  .image #addtocard button:hover{
    
    background-color:black;
    color: white;
  }
.product1{
    margin-top: 5px;
    width: 220px;
    /* background-color: aquamarine; */
    line-height: 25px;
    font-size: 16px;
}
.span1 ,.product1 a ,.product1 del{

    color: rgb(105, 105, 105);
    
}
.product1 del{
    font-size: 14px;
}
.product1 a {
    color: rgb(68, 68, 68);
    text-decoration: none;
display: block;
}
.product1 a:hover{
    text-decoration: underline;}
.prc{
    font-size: 17px;
    font-weight: bold;
    color: rgb(165, 63, 63);
   
}

.product1 h3 {
    display: inline;
}
.icons{
 
    margin-left:100px;
  
}
.icons i{
    font-size: 12px; 
    color: rgb(179, 177, 177);
}


.showTotalPrice{
margin: -550px 0px 0px 870px ;
}
